/* 
Nama : Rudiansyah
NIM : 3201916020 */
.as-center {
    align-self: center;
}
.fs-1 {
    font-size: 46px;
    font-weight: bold;
}
.fs-2 {
    font-size: 25px;
}
.f-blue {
    color: #0073ee
}
.f-blue-2 {
    color: #2575ca
}
.hr2 {
    border: 0;
    border-top: 1px dashed #CCC;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.mh-icon {
    max-height: 50px;
}